<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script type = "text/javascript" src = "/public/javascripts/jquery.min.js"></script>-->
    <!--<script type = "text/javascript" src = "/public/javascripts/bootstrap.min.js"></script>-->
    <!--<link rel = "stylesheet" href = "/public/stylesheets/bootstrap.min.css">-->
</head>
<body>

<form action="/register"method="post" class="form">
    <div>
        <label for="username">Username:</label>
        <input type="text"name="username"id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password"name="password"id="password"/>
    </div>
    <div>
        <label for="first">First Name:</label>
        <input type="first"name="first"id="first"/>
    </div>
    <div>
        <label for="last">Last Name:</label>
        <input type="last"name="last"id="last"/>
    </div>
    <div>
        <label for="email">Email Address:</label>
        <input type="email"name="email"id="email"/>
    </div>
    <div>
        <input type="submit"value="Register" class="submit"/>
    </div>
</form>

</body>
</html>